<!-- Top Title -->
<div class="row" id="titleRow">
    <div class="col-md-12" style="margin: 0px;">
        <h1> <strong class="firstLetterofTitle">V</strong>Tube</h1> 
    </div>
</div>
<!---->

<!-- Main container of lastVideo component -->
<div class="container-fluid" id="lastVideoContainer">
    <div class="row">
        <!-- YT Player -->
        <div class="col-md-12">
            <youtube-player height="500px" width="800px" (ready)="readyPlayer($event);" [videoId]="lastVideo?.id.videoId"></youtube-player>
        </div>
        <!---->
    </div>
    <br>
    <!-- Video info -->
    <div class="row">
        <div class="col-md-12">
            <h5 id="videoHashtag">#TopVideo</h5>
            <h3 id="videoTitle">{{ lastVideo?.snippet.title }}</h3>
            <small id="publishedAt">
                <i class="fas fa-calendar-alt"></i> Published on {{ lastVideo?.snippet.publishedAt.slice(0,10) }}
            </small>
            <br>
            <br>
            <p id="channelTitle">
                <strong><i class="fas fa-user-circle"></i> &nbsp;{{ lastVideo?.snippet.channelTitle }}</strong>
            </p>
            <hr>
            <h5 id="descriptionTitle"><strong>Description</strong></h5>
            <p id="description">{{ lastVideo?.snippet.description }}</p>
        </div>
    </div>
    <!---->
</div>
<!---->
