app-last-video {
    position: relative;
    float:left;
    top: 0px;
    width: 55% !important;
    text-align: left;
    margin: 0px !important;
}

app-videos {
    top: 0px;
    border-radius: 15px;
    margin-right: 0px !important;
    position: relative;
    float: right;
    width: 40% !important;
    text-align: center;
    border-left: 1px solid gainsboro;
    height: 900px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    padding-left: 0px !important;
    z-index: 99;
    background-color: #fdfdfd;
    box-shadow: 3px 3px 10px gray;
}

#main {
    position: relative;
    top: 30px;
    padding: 0px !important;
    height: auto !important;
}

#topInfo{
  position:fixed;
  background-color: black;
  color: white;
  font-size: 16px;
  z-index: 109;
  height: 30px;
  margin:0px !important;
}

footer {
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    height: 100px;
    margin: 0px;
    line-height: 50px;
    font-size: 14px;
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .videosMenu {
    display: none;
    position: fixed;
    right: 20px;
    top: 25px;
    color: red;
    font-size: 24px;
    z-index: 100;
  }

@media screen and (max-width: 1100px) {
  app-videos { display: none; }
  .videosMenu { display: block; }
}

@media screen and (min-width: 1105px){
  app-videos { display: block !important; }
  .videosMenu { display: none; }
}